<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDaqRTwDkVhiBR2J9T3WugeinO5gi9bPk</string>
	<key>GCM_SENDER_ID</key>
	<string>542346832157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFbAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-masterclass-f126c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-masterclass-f126c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542346832157:ios:b7bb65f9aeb1a7c7aad9f4</string>
</dict>
</plist>